html {
  background-color: #282828;
  color: white;
  display: flex;
  text-align: center;
}

body {
  padding-left: 25%;
  padding-right: 25%;
}

p {
  text-align: justify;
}

h1 {
  color: #3498db;
}
